---
const base = import.meta.env.BASE_URL;
---

<nav class="navbar">
  <div class="logo">Marcos</div>

  <div class="links">
    <a href={base}>Inicio</a>
    <a href={`${base}#sobre-mi`}>Sobre mí</a>
    <a href={`${base}#proyectos`}>Proyectos</a>
    <a href={`${base}blog`}>Blog</a>
    <a href={`${base}archivo`}>Archivo</a>
    <a href={`${base}#contacto`}>Contacto</a>
  </div>
</nav>